.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-main-ul {
  flex: 1;
  margin-top: 2rem;
}

.about-links-ul {
  display: flex;
  justify-content: space-evenly;
}

.prof-pic {
  max-width: 198px;
  border: 2px solid #2C353A;
}

.footer {
  height: 6rem;
  background: #2C353A;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__about-link {
  color: #eee;
}
