.about {
  margin: 0 auto;
}

.about-main-ul:not(:last-child) {
   margin-top: 4rem;
}

.about-main-ul {
  display: flex;
  justify-content: center;
}

.prof-pic {
  width: 40%;
  height: 100%;
  max-width: 250px;
  border-radius: 15px;
  margin-right: 5rem;
  border: 2px solid #2C353A;
}

.about-sub-ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-links-ul {
  display: flex;
  justify-content: space-evenly;
  margin: 28px 0;
}

.about-links-ul img {
  width: 30px;
  height: 30px;
}

.footer {
  height: 6rem;
  background: #2C353A;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__about-link {
  color: #eee;
}
