.form-submit, .task-back, .edit-task-submit-button {
    border-radius: 4px;
    background-color: #baed91;
    color: gray;
    padding: 5px;
    margin: auto;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 158px;
    height: 40px;
    font-size: 15px;
    outline: none;
}

button:hover,
input[type="submit"]:hover {
    filter: brightness(105%);
}

.form-input-field {
    height: 30px;
    width: 155px;
    border: 1px solid lightgray;
    outline: none;
    color: hotpink;
    font-family: 'Martel Sans', sans-serif;
    margin: 2px 0px;
    border-radius: 3px;
}

.form-input-field:focus {
    border: 1px solid palevioletred;
}

.form-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.form-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.signup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 30px;
    color: purple;
    font-family: 'Martel Sans', sans-serif;
}

.session-form-errors {
  margin-left: 5px;
  margin-top: 5px;
  height: 19px;
  font-size: 12px;
  font-family: 'Martel Sans', sans-serif;
  color: firebrick;
}
