.form-submit {
    border-radius: 4px;
    background-color: #baed91;
    color: gray;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid lightgray; 
    width: 161px;
    height: 40px; 
    font-size: 15px;
    outline: none;
    margin-left: auto;
}

.form-submit:hover {
    filter: brightness(105%);
}

.form-input-field {
    height: 30px;
    width: 155px; 
    border: 1px solid lightgray;
    outline: none;
    /* color: #800020; */
    color: hotpink;
    /* color: #957DAD; */
    font-family: 'Martel Sans', sans-serif;
    margin: 2px 0px; 
    border-radius: 3px;
}

.form-input-field:focus {
    /* border: 2px solid #957DAD; */
    border: 2px solid palevioletred;
    /* box-shadow: 2px 2px palevioletred; */
}

.form-input-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.form-login-button {
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

/* .form-input-field:hover {
    box-shadow: 5px 10px #baed91;
} */

.signup-header {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: purple;
    font-family: 'Martel Sans', sans-serif;
}

.session-form-errors {
  margin-left: 5px;
  margin-top: 5px;
  height: 19px;
  font-size: 12px;
  font-family: 'Martel Sans', sans-serif;
  color: firebrick;
}