.nav-bar {
  display: flex;
  flex-direction: column;
  /* margin: 3rem 0; */
}

.nav-bar__header {
  color: #800080;
  text-align: center;
}

.nav-bar__session-button {
  flex: 1;
}

.nav-bar__session-button,
.nav-bar__logout-button {
  height: 3rem;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
