.session-form {
  display: flex;
  flex-direction: column;
}

.session-form__header {
  margin: 2rem 0 2rem 0;
}

.session-form__submit {
  margin-top: 1rem;
}

.session-form__demo {
  margin-top: 2rem;
}

.session-form__input-field {
  border: 2px solid #2C353A;
}

.session-form__input--errors {
  border: 2px solid #c23b23;
}
