.session-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.session-form__header {
  color: #800080;
  margin-bottom: 2rem;
}

.session-form__submit {
  margin-bottom: 1rem;
}
