.session-form {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  justify-content: center;
}

.session-form__header {
  margin: 2rem 0 2rem 0;
}

.session-form__demo {
  margin-top: 2rem;
}

.session-form__input-field {
  border: 2px solid #2C353A;
}

.session-form__input--errors {
  border: 2px solid #c23b23;
}

.session-form__limited-user {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.session-form__limited-user-label {
  display: flex;
  align-items: center;
}

.session-form__limit-user-header {
  margin-left: 1rem;
}

.tooltip {
  font-size: 3rem;
}

@media only screen
and (min-width: 576px) {
  .session-form {
    min-height: 675px;
  }
}
