.create-task-errors {
  margin-left: 5px;
  margin-top: 5px;
  height: 19px;
  font-size: 12px;
  font-family: 'Martel Sans', sans-serif;
  color: firebrick;
}

.start-my-day-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.start-my-day-list-item {
  display: flex;
  padding-top: 3px;
}

.task-create-component {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.task-title {
  font-family: 'Martel Sans', sans-serif;
  color: purple;
  font: 20px;
}

.reusable {
  height: 10px;
  padding-top: 5px;
}

.requirement-box-container {
  display: flex;
  flex-direction: row;
 
}

.requirement-description {
  padding-right: 5px;
  padding-top: 5px;
  font-size: 15px;
  font-family: 'Martel Sans', sans-serif;
  color: blueviolet;

}


.task-box-container:hover {  
  background-color: lightyellow;
}

input[type=checkbox] {
  margin-top: 0px;
}