.task-show__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.task-show__no-requirements {
  margin-top: 1rem;
}

.task-show__link {
  display: flex;
}

.task-show__option {
  width: 100%;
}

.task-show__option--delete {
  background-color: #ec5c5c;
}

.task-show__option--update {
  background-color: #e9df83;
}

.list-item__bullet-point {
  color: #800080;
  margin-right: 1rem;
}
