.task-update-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.task-update-form__label,
.task-update-form__requirement-label {
  display: flex;
  flex-direction: column;
}

.task-update-form__requirement-input {
  flex: 8;
}

.task-update-form__create-requirement-input {
  flex: 10;
}
