.task-index__container {
  margin: 2rem 3rem;
}

.task-index__list {
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  /* width: 100%; */
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-index__list-item {
  align-items: center;
  display: flex;
  width: 100%;
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: center; */
  justify-content: space-around;
}

/* .task-index__list-item-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 3em;
  height: 3em;
  background-image:url(PNG_MH_Unchecked.png);
  background-size: 3em 3em;
  margin: 0;
} */

/* .task-index__list-item-checkbox::before {
  content: "➼";
  position: absolute;
  font-size: 2.5em;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.task-index__list-item-checkbox:checked {
  border: 2px solid #2C353A;
}

.task-index__list-item-checkbox:checked::before {
  visibility: visible;
} */

.task-index__list-item-link {
  /* align-items: center;
  display: flex; */
  flex: 1;
  margin: 0 1rem;
  /* margin-left: 1rem; */
}

.task-index__list-item:not(:first-child) {
  margin-top: 0.5rem;
}

.task-index__create-form-input,
.task-index__create-form-button {
  border: 1px solid rgba(147,128,108,.25);
}

.task-index__create--errors {
  border: 2px solid #c23b23;
}

.task-list-container {
  margin: 3rem auto;
}

.task-index__task-list-email {
  margin: 2rem 0 0 0;
}


.task-index__instruction-container {
  display: flex;
  align-items: center;
}

.task-index__instruction-header {
  flex: 1;
}

.task-index__instruction-button {
  position: absolute;
}

.select-options {
  margin-right: 1rem;
}


.task-index__buttons-container {
  display: flex;
}

.task-index__buttons-container-unarchive {
  display: flex;
  border-left: 2px solid;
}

.task-index__list-button {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task-index__list-button--not-first {
  border-left: none;
}

@media only screen
and (min-width: 992px) {
  .task-index__list-button {
    height: 4rem;
  }

  .task-index__instruction-button {
    position: absolute;
  }
}
