.task-index__task-list-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width:100%;
}

.task-index__task-list {
  padding: 1rem 2rem 2rem 2rem;
  position:fixed;
  text-align: center;
  background-color: #F3F3F3;
  border: 3px solid #2C353A;
  margin: 2rem;
}

.task-index__task-list-button-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  align-items: center;
}

.task-index__task-list-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #DF1616;
  margin: 0 0 0 1rem;
}

.task-index__task-list-header {
  flex: 1;
  font-size: 2rem;
}

.task-index__task-list-items-container {
  display: inline-block;
  overflow-wrap: anywhere;
  text-align: left;
}

.task-index__task-list-items--spacing {
  margin: 1rem 0;
}

.task-index__task-list-item-header {
  font-size: 1.5rem;
}

.task-index__task-list-item-requirement {
  font-size: 1.25rem;
}
